body
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* background-color: black; */
}


.content-container
{
     height: 730px;
     width: 100%;
     /* background-color: rebeccapurple; */
     position: absolute;
     top: 100px;
     display: flex;
     flex-wrap: wrap;
     z-index: 0;
}