.channel-owner
{
     height: 700px;
     width: 100%;
     /* background-color: purple; */
     position: relative;
     top: -690px;
     left: 0;
     z-index: 0;
}


.channel-owner-data
{
     height: 250px;
     width: 1300px;
     border-radius: 20px;
     /* background-color: black; */
     /* border: 1px solid black; */
     margin-left: 100px;
     display: flex;
}


.channel-logo-container
{
     height: 100%;
     width: 225px;
     /* background-color: black; */
     /* display: inline-block; */
}


.other-data
{
     height: 90%;
     width: 1030px;
     /* background-color: pink; */
     position: relative;
     top: -5px;
}


.channel
{
     height: 55px;
     width: 100%;
}


#dashBoard-img
{
     height: 250px;
     width: 1300px;
     border-radius: 20px;
     object-fit: cover;
     margin-left: 100px;
}


#channel-logo
{
     height: 100%;
     width: 100%;
     border-radius: 50%;
     object-fit: cover;
     /* background-color: brown; */
}


#channel-name
{
     /* width: fit-content; */
     display: inline-block;
}


#verify
{
     height: 20px;
     width: 20px;
     margin-left: 10px;
}


#channel-stats
{
     color: gray;
}


#channel-description
{
     color: gray;
}


#subscribe-button
{
     height: 40px;
     width: 130px;
     background-color: black;
     color: white;
     font-size: 20px;
     border-radius: 15px;
     transition-duration: 0.5s;
     &:hover
     {
          border-radius: 0;
          background-color: white;
          color: black;
          cursor: pointer;
     }
     &:active
     {
          border-radius: 0;
          background-color: black;
          color: white;
          cursor: pointer;
     }
}


#join
{
     height: 35px;
     width: 55px;
     border-radius: 15px;
     background-color: white;
     color: black;
     position: relative;
     left: 10px;
     transition-duration: 0.5s;
     &:hover
     {
          border-radius: 0;
          background-color: black;
          color: white;
          cursor: pointer;
     }
     &:active
     {
          border-radius: 0;
          background-color: white;
          color: black;
          cursor: pointer;
     }
}


.channel-menu
{
     height: 40px;
     width: 1300px;
     /* border: 1px solid black; */
     /* background-color: black; */
     /* color: white; */
     margin-left: 100px;
     margin-top: 10px;
     display: flex;
}


.channel-menu h2
{
     height: fit-content;
     width: fit-content;
     color: gray;
     border-bottom: 1px solid gray;
     /* background-color: blue; */
     position: relative;
     top: -12px;
     margin-left: 7px;
     &:hover
     {
          cursor: pointer;
          color: black;
          border-bottom: 1px solid black;
     }
}


.channel-search
{
     height: 40px;
     width: 40px;
     border-radius: 35%;
     object-fit: cover;
     margin-left: 15px;
     position: relative;
     top: 2px;
     &:active
     {
          background-color: gray;
     }
}


.channel-search-form
{
     height: 40px;
     width: 230px;
     /* border-bottom: 1px solid black; */
     background-color: black;
     margin-left: 10px;
}


#search-form
{
     height: 40px;
     width: 230px;
     border: none;
     outline: none;
     border-bottom: 1px solid black;
}

/* CSS for Videos.jsx from Channelowner folder files */
.channel-home
{
     height: fit-content;
     width: 84%;
     /* background-color: purple; */
     margin-left: 100px;
     display: flex;
     flex-wrap: wrap;
     z-index: 0;
 
}


.channel-home .video-container
{
     height: 280px;
     width: 300px;
     /* background-color: red; */
}


.channel-home .videos
{
     height: 195px;
     width: 300px;
     border-radius: 10px;
     object-fit: cover;
}


.sorting
{
     height: 35px;
     width: 1300px;
     /* background-color: pink; */
     margin-left: 100px;
     display: flex;
}


.latest , .popular , .oldest
{
     height: 100%;
     width: 100px;
     border-radius: 10px;
     font-size: 20px;
     font-weight: bolder;
     background-color: rgb(228, 226, 226);
     margin-left: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     
     &:hover
     {
          cursor: pointer;
          background-color: rgb(137, 135, 135);
     }
     
     &:active
     {
          cursor: pointer;
          background-color: rgb(228, 226, 226);
     }
}