.videos 
{
     height: 195px;
     width: 975px;
     border-radius: 10px;
     object-fit: cover;
     &:hover
     {
          cursor: pointer;
     }
}
.video-wrapper
{
     height: 210;
     width: 375px;
     border: 1px solid red;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}