.videos 
{
     height: 195px;
     width: 375px;
     border-radius: 10px;
     object-fit: cover;
     &:hover
     {
          cursor: pointer;
     }
}

.video-container
{
     height: 280px;
     width: 375px;
     margin-left:4px;
     margin-bottom: 50px;
     /* border: 1px solid red; */
}


.detail-container 
{
     height: 120px;
     width: 360px;
     display: flex;
}


.logo-container 
{
     height: 80px;
     width: 80px;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}


.title-container 
{
     height: 80px;
     width: 275px;
     /* border: 1px solid black; */
     margin-left: 20px;
}


.video-title
{
     margin-top: -1px;
}


.Cicon
{
     height: 70px;
     width: 70px;
     border-radius: 50%;
     /* background-color: black; */
     object-fit: cover;
}


.channel-name-container
{
     color: gray;
     margin-top: -20px;
}


.time-view-shower
{
     color: gray;
     margin-top: -20px;
}