.videos 
{
     height: 195px;
     width: 360px;
     border-radius: 10px;
     object-fit: cover;
     &:hover
     {
          cursor: pointer;
     }
}

.video-container
{
     border: 1px solid red;
}


.detail-container 
{
     height: 120px;
     width: 360px;
     display: flex;
 }


 .logo-container 
 {
     height: 80px;
     width: 80px;
     border: 1px solid black;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }


 .title-container 
 {
     height: 120px;
     width: 275px;
     border: 1px solid black;
 }


.Cicon
{
     height: 70px;
     width: 70px;
     background-color: black;
     object-fit: cover;
}